APP_NAME=Chronicles
APP_ENV=development
DEBUG=true

DATABASE_URL=postgresql+psycopg://chronicles:chronicles_dev_password@db:5432/chronicles
TELEGRAM_BOT_TOKEN=8815868978:AAFXswylMc1og14GKXF4EVJkC3qOAaJ9ou8
SECRET_KEY=ulOl8ImhoJpzPeC8q76p15LW2ivl4FKl
CORS_ORIGINS=http://localhost:8080
MINI_APP_URL=https://33867b5a-de8e-4b4c-9cc8-e8eaca690509.tunnel4.com