APP_NAME=Chronicles
APP_ENV=development
DEBUG=true

DATABASE_URL=postgresql+psycopg://chronicles:change_me@db:5432/chronicles
TELEGRAM_BOT_TOKEN=bot_token
SECRET_KEY=secret_key
CORS_ORIGINS=http://31.57.27.73
MINI_APP_URL=http://31.57.27.73
